_alias
aup
csv
fritz
img
ino
juce
max
mov
pd
pdf
pptx
rew
rpp
thor
txt
wav
web
zip
.DS_STORE
word
conf/convolver_presets/examples
!conf/convolver_presets/8ch-ada-2D-3OA/wav
!conf/convolver_presets/16ch-ada-3D-3OA/wav
bin

m/data
m/export
m/armm
m/TODO

**.zip	

# for firmware visit https://www.minidsp.com/userdownloads/usb-audio-drivers/mchstreamer 

